<article>
        <a routerLink="/login" >Login</a>
        <a routerLink="/pretragapitanja/#">Pretraga Pitanja</a>
</article>
<router-outlet></router-outlet>
<div>
        Student Overflow je platforma koja je dizajnirana specijalno za potrebe studenata kao alat .
</div>
<div>
        Razvijena je od strane studentskog tima koji je upoznat sa problemom sa kojim se studenti svakodnevno susrecu na polju pretrazivanja informacija, nalazenja odgovara na pitanja po brojnim sajtovima koji, nude previse ili premalo informacija, ili su pak korisne informacije skrivene i tesko dostupne.
        Nasa platforma ima za cilj da ovaj problem resi stvaranjem baze znanja koju upisuju i pretrazuju samo studenti, zato ce se tu, uglavnom, odgovarati na pitanja vezana za gradivo sa ispita. 
        Na vase postavljeno pitanje ce odgovarati sami korisnici platforme koji ce znati kako da na najbolji i prvenstveno najkoncizniji nacin pomognu svojim kolegama u savladavanju gradiva. Ova platforma nudi mogucnost lakog i intuitivnog pretrazivanja gomile pitanja i odgovora i mogucnost vrednovanja istih.
</div>
<div>
        Sta cekas, lakse polaganje ispita je na klik od tebe, napravi korisnicki nalog i postani deo Overflow zajednice i ucini svoje i tudje studiranje laksim. 
</div>
