<nav class="navbar navbar-expand-lg navbar-light bg-primary row">
    <div class="navbar-brand">
        <img style="height: 50px;" src="" alt="">
        Student Overflow
    </div>
</nav>
<div class="row">
    <div class="col-6" *ngIf="data">
        <h2 class="text-center">Korisnicki podaci:</h2>
        <div class="container border border-primary p-5">
            <p class="row text-monospace">Korisnicko ime: {{username}}</p>
            <p class="row text-monospace">Ime: {{data.Ime}}</p>
            <p class="row text-monospace">Prezime: {{data.Prezime}}</p>
            <p class="row text-monospace">Rank: {{data.Rank}}</p>
        </div>
    </div>
    <div class="col-6 p-2">
        <h3 class="text-center">Vasa pitanja.</h3>
        <div class="container" id="pitanja">
            <div *ngIf="korisnikovaPitanja$ | async" class="row row-cols-3">
                <div class="col border border-success rounded text-center bg-light" *ngFor="let question of korisnikovaPitanja$ | async" (click)="showQuestion(question)">{{question}}<button class="close" *ngIf="auth()" (click)="deleteQuestion(question)" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="auth()" class="row col-6">
<button class="btn btn-primary m-2 col" (click)="dodajtePitanje()">Dodajte Pitanje</button>
<button class="btn btn-primary m-2 col" (click)="pretrazitePitanja()">Pretrazite Pitanja</button>
<button class="btn btn-primary m-2 col" (click)="pretraziteKorisnike()">Pretrazite Korisnike</button>
</div>

