<div class="container bg-light p-3 mb-5 shadow rounded">
    <div class="p-2">
    <h2 class="row justify-content-md-center text-primary">Dobrodosli nazad, ulogujte se </h2>
    <div class="row text-monospace">Korisnicko Ime : <input class="form-control" (keyup)="onKey0($event)"></div>
    <div class="row text-monospace">Lozinka : <input class="form-control" type="password" (keyup)="onKey1($event)" (keyup.enter)="login()"></div>
    <div class="row"><button class="btn btn-primary mt-2" (click)="login()">Prijavite Se</button></div>
    <div *ngIf="loginError">{{loginMessage}}</div>
    </div>

</div>
<div class="container bg-light p-3 mb-5 shadow rounded">
    <div class="p-2">
    <h2 class="row justify-content-md-center text-success ">Nemate nalog, prijavite se se </h2>
    <div class="row text-monospace">Ime : <input class="form-control" (keyup)="onKey2($event)"></div>
    <div class="row text-monospace">Prezime : <input class="form-control" (keyup)="onKey3($event)"></div>
    <div class="row text-monospace">Korisnicko Ime : <input class="form-control" (keyup)="onKey4($event)"></div>
    <div class="row text-monospace">Lozinka : <input class="form-control" type="password" (keyup)="onKey5($event)" (click)="signUp()"></div>
    <button class="btn btn-primary row mt-2 mr-2" (click)="signUp()">Registrujte Se</button>
    <span *ngIf="signUpError">{{signUpMessage}}</span>
    <button class="btn btn-secondary row mt-2 ml-2" (click)="goBack()">Nazad</button>
    </div>  
</div>
